* {
  margin: 0;
}
body {
  width: 1110px;
  margin: 0 auto;
  font-family: "Roboto", "Open Sans", sans-serif;
  font-size: 18px;
}
.clearfix::after {
  display: table;
  content: "";
  clear: both;
}

header {
  padding: 40px 0 100px 0;
}

.logo-wrapper {
  float: left;
}
.logo {
  font-size: 30px;
  line-height: 32px;
  font-weight: 300;
  text-transform: uppercase;
  color: #555252;
  text-decoration: none;
}

.logo::before {
  content: "M";
  font-family: "Roboto";
  font-weight: 900;
  color: #1abc9c;
}
.nav-menu {
  padding: 0;
  margin: 0;
  float: right;
  list-style: none;
  width: 475px;
  font-family: "Open Sans";
  font-weight: 700;
  font-size: 14px;
  line-height: 11px;
  text-transform: uppercase;
}

.nav-menu-item a {
  text-decoration: none;
  color: #0f0101;
}
.nav-menu-item {
  float: left;
  margin-right: 30px;
  padding-top: 10px;
}
.nav-menu-item:last-child {
  margin-right: 0;
}
.nav-menu-item a:hover,
.nav-menu-item a:focus {
  color: #1abc9c;
}

/* PRODUCTS */
.headers {
  font-size: 48px;
  line-height: 32px;
  font-weight: 900;
  text-transform: uppercase;
  color: #515151;
  text-align: center;
}

.headers::after {
  display: block;
  margin: 32px auto 92px;
  content: "";
  width: 165px;
  height: 7px;
  background-color: #1abc9c;
}

.products-menu {
  padding: 0;
  padding-bottom: 104px;
}
.products-items {
  float: left;
  width: 258px;
  list-style: none;
  margin-right: 26px;
  margin-bottom: 30px;
}
.products-items:nth-child(4n) {
  margin-right: 0;
}
.products-items:nth-last-child(-n + 4) {
  margin-bottom: 0;
}

.name-product {
  float: left;
  width: 204px;
  height: 40px;
  margin: 0;
  box-sizing: border-box;
  padding-top: 4px;
  padding-left: 14px;
}

.price-product {
  float: right;
  width: 54px;
  height: 40px;
  background-color: rgba(255, 255, 255, 0.301);
  font-size: 18px;
  line-height: 32px;
  font-family: "Roboto";
  font-weight: 900;
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;
  padding-top: 4px;
  box-sizing: border-box;
}

.price-block {
  background-color: #323232;
}

.img-block {
  background-color: #e9f0fd;
}
.link-name {
  text-decoration: none;
  font-size: 18px;
  line-height: 32px;
  font-weight: 900;
  font-family: "Roboto";
  color: #ffffff;
  text-transform: uppercase;
}
.products-items:hover .name-product {
  background: hsla(168, 76%, 42%, 0.678);
}
.products-items:hover .price-product {
  background: hsla(168, 76%, 42%, 0.938);
}
/* NEWS MENU */
.news-block {
  padding-bottom: 84px;
}
.news-menu {
  list-style: none;
  padding: 0;
  font-family: "Open Sans";
}
.news-list {
  float: left;
  width: 350px;
}
.news-list:not(:last-child) {
  margin-right: 30px;
}
.news-card-header {
  font-size: 18px;
  line-height: 26px;
  font-weight: 600;
  color: #555252;
}
.news-card-header::after {
  display: block;
  width: 136px;
  height: 3px;
  content: "";
  background-color: #1abc9c;
  margin-top: 10px;
  margin-bottom: 24px;
}

.news-content-text {
  font-size: 14px;
  line-height: 26px;
  padding-bottom: 16px;
  color: #555252;
}
/* BUTTON */
.news-list-button {
  background-color: #1abc9c;
  border: none;
  cursor: pointer;
  padding: 13px 46px;
  border-radius: 5px;
}

.link-button-read {
  text-decoration: none;
  color: #fff;
  font-size: 16px;
  line-height: 26px;
  font-weight: 300;
}
